[submodule "lib/falso_jni"]
	path = lib/falso_jni
	url = https://github.com/v-atamanenko/FalsoJNI.git
	branch = master
[submodule "lib/AFakeNative"]
	path = lib/AFakeNative
	url = https://github.com/v-atamanenko/FalsoNDK/
